<div class="container">
  <div class="row">
    <div class="col-md-3">
      <img [src]="baseURL+'IMG_2642.jpg'" alt="profile picture" class="img-thumbnail">
      <p class="lead">
        Web Developer with a passion for puzzles
      </p>
    </div>
    <div class="col-md">
      <div class="card">
        <h2 class="card-header">
          Skills
        </h2>
        <div class="card-body">
          <h4 class="card-title">Languages</h4>
          <img src="https://www.w3.org/html/logo/downloads/HTML5_Logo_512.png" alt="HTML5" class="skills">
          <img src="http://htmldoctor.info/images/css3.png" alt="CSS3" class="skills">
          <img src="https://i.stack.imgur.com/Mmww2.png" alt="JavaScript" class="skills">
          <img src="https://www.python.org/static/opengraph-icon-200x200.png" alt="Python" class="skills">
          <h4 class="card-title">Frameworks</h4>
          <img src="https://upload.wikimedia.org/wikipedia/en/thumb/9/9e/JQuery_logo.svg/1280px-JQuery_logo.svg.png" alt="jQuery" class="skills">
          <img src="https://v4-alpha.getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="Bootstrap" class="skills">
          <img src="https://angular.io/assets/images/logos/angular/angular.png" alt="Angular" class="skills">
          <img src="https://cdn.worldvectorlogo.com/logos/react.svg" alt="React" class="skills">
          <img src="http://flask.pocoo.org/static/logo/flask.svg" alt="Flask" class="skills">
          <h4 class="card-title">Databases</h4>
          <img src="https://www.mysql.com/common/logos/logo-mysql-170x115.png" alt="MySQL" class="skills">
          <img src="https://wiki.postgresql.org/images/a/a4/PostgreSQL_logo.3colors.svg" alt="PostgreSQL" class="skills">
          <img src="https://upload.wikimedia.org/wikipedia/en/thumb/4/45/MongoDB-Logo.svg/1024px-MongoDB-Logo.svg.png" alt="MongoDB" class="skills">
          <h4 class="card-title">Others</h4>
          <img src="https://git-scm.com/images/logos/logomark-orange@2x.png" alt="git" class="skills">
          <img src="https://cdn.worldvectorlogo.com/logos/creative-cloud-cc.svg" alt="Adobe Creative Cloud" class="skills">
        </div>
      </div>
    </div>
  </div>
</div>