<div class="container" *ngIf="loading">Loading....</div>
<div class="container" *ngIf="!loading">
  <nav class="nav nav-pills nav-justified my-3">
    <a
      class="nav-item nav-link"
      (click)="select('app')"
      [class.active]="selected === 'app'"
    >
      Fullstack/Front End
    </a>
    <a
      class="nav-item nav-link"
      (click)="select('api')"
      [class.active]="selected === 'api'"
    >
      Microservice APIs
    </a>
  </nav>
  <div class="card-columns" *ngIf="selected === 'app'">
      <div class="card bg-dark text-white" *ngFor="let project of apps">
        <img class="card-img" [src]="baseURL + project.image" alt="Card image">
        <div class="card-img-overlay" [routerLink]="['/projects', project.id]">
          <h4 class="card-title">{{project.name}}</h4>
          <p class="card-text">
            Stack: 
            <span *ngFor="let i of project.stack; let isLast=last">
              {{i}}{{isLast ? '' : ', '}}
            </span>
          </p>
          <p class="card-text">{{project.info}}</p>
        </div>
      </div>
  </div>
  <div class="card-columns" *ngIf="selected === 'api'">
      <div class="card" *ngFor="let project of apis">
        <div class="card-body">
          <h4 class="card-title">{{project.name}}</h4>
          <p class="card-text">
            <span *ngFor="let i of project.stack">
              {{i}}
            </span>
          </p>
          <p class="card-text">{{project.info}}</p>
        </div>
      </div>
  </div>
</div>